<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  type="text/css"  href="../static/css/back_triangles.css">
    <link rel="stylesheet"   type="text/css" href="../static/css/siteifms.css">
    <link rel="icon"  type="text/css"  href="../static/assets/ifms.ico"> 


    <title>Exame de Seleção 2023</title>
</head>
<body> 
    
    <header>
        
        <div class="container-logo">
            <div class="logo-imagem">
                <img src="../static/assets/ifteste2.png" >
            </div>
            <div class="logo-texto">
                <h1><b>EXAME DE</b></h1>
               <div class="exame">
                    <i>
                        <h1>
                            SELEÇÃO2023
                        </h1>
                    </i>
               </div>
            
            </div>
            
            
            
        </div>

        
        <div class="campus">
            <h1>Campus</h1>
            <div class="treslagoas">
               <h1>Três Lagoas</h1>
               
               
            </div>
        </div>
        <div class="containervagas">
           <div class="h1160">
                <h1>160</h1>
           </div> 
            <h1>vagas</h1>
        </div>
    

    </header>
    
   
    <hr>
    
    <div class="cabecalho">
        <div class="ensino">        
            <h1>Ensino Médio   </h1>
        </div>
        <div class="teste">
            <img src="../static/assets/adicaowhite.png" >
        </div>
        <div class="curso">
            <h1>Curso Técnico no IFMS</h1>
        </div>
        <div class="teste">
            <img src="../static/assets/igualwhite.png" >
        </div>
        <div class="curso">
            <h1><b>muito mais para o</b> seu futuro!</h1>
        </div>
    </div>
    <div class="imagensestudante">
        <div class="estudante1">
            <img src="../static/assets/estudante1.jpeg" >
        </div>
        <div class="estudante2">
            <img src="../static/assets/estudante2.png" >
        </div>
        <div class="estudante3">
            <img src="../static/assets/estudante3.png" >
        </div>
        <div class="estudante4">
            <img src="../static/assets/estudante4.jpeg" >
        </div>
        <div class="estudante5">
            <img src="../static/assets/estudante5.jpg" >
        </div>

    </div>
    <div class="containertexto">
        <div class="textoverde">
            <h1>CURSOS TÉCNICOS INTEGRADOS AO ENSINO MÉDIO | GRATUITOS |</h1>
        </div>
    </div>


    <div class="containerteste">
        <div class="eletro">
            <h1> 
                💻   Eletrotécnica        
            </h1>
        </div>
        <div class="mat">
            <h1> 
               <b> matutino ou vespertino  </b>      
            </h1>
        </div>
        <div class="vagacurso">
            <h1>80 <b>vagas</b></h1>
        </div>

    </div>
    <hr class="hrcurso">

    <div class="containerteste">
        <div class="eletro">
            <h1> 
                💻   Informática        
            </h1>
        </div>
        <div class="mat2">
            <h1> 
               <b> matutino ou vespertino  </b>      
            </h1>
        </div>
        <div class="vagacurso">
            <h1>80 <b>vagas</b></h1>
        </div>

    </div>

    <div class="inscricao">
        <div class="data">
            <h1>Inscrições</h1>

            <h1>12<b>AGO</b> A 05<b>OUT</b></h1>
        </div>
            <div class="siteins">
                <h1><b>Escaneie o código QR com o celular e acesse</b></h1>
                <hr class="linha">
             
                      <a th:href="@{/cadastrar}" class="btn btn-success" >
                        <button>
                            <h1 class="eduifms"><b>Inscreva-se</b></h1> 
                        </button>

                      </a>
                    
                
            </div>
        
    </div>
    <div class="containerqrcode">
        <img src="../static/assets/testeqrcode.gif" alt="">
    </div>

    <div class="fundogeometrico">
        
        <div class="hex-bg">
            <div class="info1">
                <h1>prova <h1 class="out">23<b>OUT</b></h1></h1>
                
               
            </div>
            <div class="info1cont">
                 <h1><b>(matemática + português + </b></h1>
                 <h1><b>conhecimento gerais)</b></h1>
                
            </div>
            <div class="info2">
                <h1>requisito</h1>
            </div>
            <div class="info2cont">
                <h1><b>Ensino fundamental completo até</b></h1>
                <h1><b>a data da matrícula no IFMS.</b></h1>
            </div>
            <div class="info3">
                <h1>R$20 <h1 class="taxa">taxa de inscrição para a prova</h1></h1>
                <div class="info3cont">
                   <h1> Isenção: <b>12 de agosto a 23 de setembro </b></h1>
                   <h1><b>(para estudantes de escola pública</b></h1>
                   <h1><b>ou inscritos no CadÚnico) </b></h1>
                </div>
            </div>
          
            
        </div>
        
        
    </div>

    <div class="containerrodape">
        
        <div class="enderecocontainer">
            <div class="enderecofont">
                <h1 class="espaco1">(67) 3509-9500</h1>
                <h1 class="espaco1"><b>Rua Ângelo Melão, 790</b></h1>
                <h1 class="espaco1"><b>Jardim das Paineiras</b></h1>
                <h1 class="espaco1">tres.lagoas@ifms.edu.br</h1>
            </div>
        </div>

        <div class="imglogo">
            <img src="../static/assets/logo_ifms.png" alt="">


        </div>

        
        
    </div>
    <div class="containerfooter">
        <footer>©Develop by <a href="https://pearl-innovations.netlify.app/" target="_blank">Pearl Innovations</a> </footer>


    </div>
    


   

    
</body>
</html>